<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings configSource="ConnectionStrings.config" xdt:Transform="Replace"></connectionStrings>
	<appSettings file="PrivateSettings.config">
		<add key="AuthenticationProvider" value="Crowd"
		     xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
		<add key="DatabaseName" value="StackIt"
		     xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)" />
		<add key="ConfigurationTemplateBucket" value="stackit-dotnet-templates"
		     xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
		<add key="PuppetCleanupHost" value="ip-10-207-16-179.ec2.internal"
		     xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
	</appSettings>
</configuration>